<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/static/css/iview.css">
</head>
<body>
	<div id="app">
		<Row>
			<i-col :span='24'>
                <h1>地址页面</h1>
			</i-col>
		</Row>
	</div>
</body>
</html>
<script src="/static/js/vue.js"></script>
<script src="/static/js/iview.js"></script>
<script src="/static/js/axios.js"></script>
<script>
	new Vue({
		el: '#app',
		data:{},
		methods: {},
		mounted () {}
	})
</script>